<ion-view mz-screen view-title="{{ title | translate }}">
 <!--ion-header-bar align-title="center" class="bar-positive">
 <h3>Resumen Financiero</h3>
  </ion-header-bar-->
<div class="bar bar-header bar-positive">
 	 <button class="button button-icon icon ion-navicon"></button>
  		<h1 class="title">Resumen Financiero</h1>
	</div>
    <!--div class="bar bar-header bar-positive">
    	<h3 class"title" style="text-align: center;"> Resumen Financiero </h3>
    </div-->
    <ion-content id="content"> 


	  	<div class="card">
		  	<div id="title" class="item item-text-wrap">
		   		<b>{{data.accounts.title}}</b>
		   	</div>

			<div class="item item-icon-left item-icon-right" ng-repeat="account in data.accounts.data">
			  <i class="icon ion-card"></i>
			   {{account.type}}...{{account.lastFour}} <span>&nbsp</span> {{ account.amount }}
			   <i id="flecha" ng-click="goToAccount(account)" class="icon ion-arrow-right-b"></i>
		  	</div>

	  	</div>

	  	{{_screenParams.templateType}}


	  	<div class="card">
		  	<div id="title-card" class="item item-text-wrap">
		   		<b>Tarjeta de Crédito</b>
		   	</div>

			<div class="item item-icon-left item-icon-right" ng-repeat="cards in data.cards">
			  <i class="icon ion-card"></i>
			  	 {{cards.type}}...{{cards.lastFour}} <span>&nbsp</span> {{ cards.amount }}
			   <i id="flecha" ng-click="goToCards(cards)" class="icon ion-arrow-right-b"></i>
			</div>
		</div>

	</ion-content>
</ion-view>
