<ion-view mz-screen view-title="{{ title | translate }}">
 
<div class="card">
	<div class="item item-divider">
		<h4 style="text-align:right;">Bienvenido {{data.userName}}</h4>
	</div>
	<div class="item">
		<h6 style="text-align:right;">Última conexión: {{data.lastConn}}</h6>
	</div>
</div>

<div class="list">
<div class="card" ng-repeat="group in data.list">	
  <div class="item item-divider">
    {{group.groupTitle}}
  </div>
  <a class="item item-icon-left item-icon-right" href="#" ng-repeat="groupItem in group.groupData">
    <i ng-if="groupItem.type=='CA'" class="icon ion-cash"></i>
    <i ng-if="groupItem.type=='CC'" class="icon ion-compose"></i>
    <i ng-if="groupItem.type=='TC'" class="icon ion-card"></i>

    <div class="row">

    <div class="col col-50">
    	<p style="white-space:pre-wrap;">{{groupItem.name}}</p>
	</div>

	<div class="col" style="text-align:right;">
		<h2>{{groupItem.amount}}</h2>
		<h6 style="color:gray;">Disponible ({{groupItem.currency}})</h6>
	</div>

	</div>
    <i class="icon ion-chevron-right"></i>
  </a>
</div>
</div>
</ion-view>
